<div class="container">
    <div class="img-container">
        <img src="assets/background/coverImg.jpg"  class="img-fluid" alt="">

        <div class="img-text jumbotron">
                CLEANER ENERGY
                    RENEWABLE RESOURCES
                    Every cup of our quality artisan coffee starts with locally sourced,
                    hand picked ingredients. Once you try it, our coffee will be a blissful
                     addition to your everyday morning routine - we guarantee it!  
             
        </div>
    </div>
</div>