<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="jumbotron pull-left myjumbotron" >
        <h2>
          <span class="section-heading-upper">Save your  Electricity bill</span><br>
          <span class="section-heading-lower">Solar Energy </span>
        </h2>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/background/solarPanel.jpg" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Renewable energy is also characterized as having a high Energy Returned on Energy Invested, which means,
            It should be profitable to a consumer so that they have a reason to use it besides just helping the envirment out. This
            </p>
        </div>
      </div>
      <br><br><br>

      <br><br><br><br>
    </div>
    </div>
 
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
     
      <div class="jumbotron pull-left myjumbotron" >
        <h2>
          <span class="section-heading-upper">Provides Clean, Renewable Energy </span><br>
          <span class="section-heading-lower">Wind Energy</span>
        </h2>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/background/windFarm.jpg" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            The main benefit however is the fact that we don’t need to “feed” these systems with energy by mining or other processing. 
            The input energy is free, and only requires the initial infrastructure to be put into place, followed by maintenance.
            </p>
        </div>
      </div>
      <br><br><br>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
 
      <div class="jumbotron pull-left myjumbotron" >
        <h2>
          <span class="section-heading-upper">Management of Energy</span><br>
          <span class="section-heading-lower">with Smart grid</span>
        </h2>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/background/nasaSatelliteImage.jpg" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Smart grid - Electricity demand in a Reliable, efficient & sustainable manner. <br>

Smart grid is an electricity grid that is used to deliver electricity using two way technology to enable communication between consumers and utility. 

            
            </p>
        </div>
      </div>
      <br><br><br>
    </div>
  </div>
</section>

<div class="container">
  <section class="mypage-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-12 mb-lg-0 rounded"  alt="" style="right:500px">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded jumbotron mySmallerDiv" >
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Cleaner Energy</span><br>
              <span class="section-heading-lower">Renewable Resources</span>
            </h2>
            <p class="mb-3">
              
              Renewable resources are part of the renewable natural stock and comprise those resources that have the potential for re-creation within a given period of time. 
<br>
Wind and solar are very convenient, because they can be small-scale. 
An out of the way village can use wind and solar for most of its power easily, getting rid of the need to build expensive power plants. 
            </p>
            <div class="intro-button mx-auto">
              <a class="btn  btn-xl  btn-info" style="width:300px;" [routerLink]="['/dashboard']">Visit Us Today!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


