<!-- <p>home-page works!</p>
<router-outlet></router-outlet> -->

<div class="home" style="
                        background-image:linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)),url('assets/background/coverImg2.jpg');
background-attachment:fixed;background-position:center;background-size:cover; margin-top: 0px;">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Smart Energy Saver</span>
        <span class="site-heading-lower">Solar and Wind Energy </span>
      </h1>
    
      <!-- Navigation -->
          <!-- <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a> -->

      <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav" >
        <!-- <div class="container" style=" background-color: rgba(47,23,15,0.9);"> -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbarResponsive" style=" background-color: rgba(47,23,15,0.9);">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
              </li>
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="products.html">Products</a>
              </li>
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="store.html">Store</a>
              </li>
            </ul>
          </div>
        <!-- </div> -->
      </nav>
    
      <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/coverImg.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Cleaner Energy</span>
                <span class="section-heading-lower">Renewable Resources</span>
              </h2>
              <p class="mb-3">Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
              </p>
              <div class="intro-button mx-auto">
                <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Our Promise</span>
                  <span class="section-heading-lower">To You</span>
                </h2>
                <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <footer class="footer text-faded text-center py-5">
        <div class="container">
          <p class="m-0 small">Copyright &copy; Your Website 2019</p>
        </div>
      </footer>

</div>
 


