
  
.home{
  background-image:linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)),url('assets/background/coverImg2.jpg');
  background-attachment:fixed;
  background-position:center;
  background-size:cover; 
  margin-top: 0px;
  /* height: 250vh; */
  height: auto ;
}  
h1,h2,h3,h4,h5,h6{font-family:Raleway}

.nav-item{
  margin-left:30px;
  color:#e6a756 ;
  font-weight: bold;
}

.navbar-custom {

  background-color: rgba(47,23,15,0.9) !important;
  
}